@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
            font-family: "Ubuntu";
            font-weight: 300;
            src: url("/fonts/Ubuntu.ttf") format("truetype");
        }

    body {
        @apply box-border;
        font-family: "Ubuntu", sans-serif;
    }

    h1 {
        @apply text-3xl;
        @apply my-4;
    }

    h2 {
        @apply text-xl;
        @apply my-3
    }
}
