@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply box-border;
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    html {
        height: -webkit-fill-available;
    }
}
